body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;

}

.title{
    font-size: 30px;
    font-weight: bold;
}

.move-icon{
    height: 50px;
}

.move-btn{
    padding: 33px;
    margin-right: 10px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 50%;
}

.result{   
    font-weight: bold;
    font-size: 25px;
}

.move, .result, .score{
    margin-top: 50px;
}

.reset-btn,
.autoPlay-btn{
    font-size: 15px;
    margin-right: 2px;
    padding: 10px 15px;
    border: none;
}

#reset_msg_container{
    display: flex;
    align-items: center;
    font-size: 15px;
}

.reset-mgs-btn{
    border: none;
    margin-left: 15px;
    padding: 10px 20px;
}

button{
    border-radius: 2px;
    cursor: pointer;
}